html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #070812;
  color: #e6f7ff;
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
